[Desktop Entry]
Name=Celestial Aliz Light
X-KDE-PluginInfo-Author=zquestz
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Celestial-Aliz-Light
X-KDE-PluginInfo-Website=https://github.com/zquestz/celestial-gtk-theme
