stage {
  color: #323232;
}

#menu-search-entry, #appmenu-search-entry, .expo-workspaces-name-entry, .prompt-dialog-password-entry, .run-dialog-entry {
  min-height: 22px;
  border-radius: 1px;
  padding: 6px 9px;
  border: 1px solid #d1d1d1;
  caret-color: #323232;
  selected-color: black;
  selection-background-color: #97bb72;
  caret-size: 1px;
}

.notification-icon-button, .notification-button, .sound-player StButton {
  border-radius: 1px;
  padding: 6px 36px;
  font-weight: bold;
}

.notification-icon-button, .notification-button, .sound-player StButton {
  color: #323232;
  background-color: #e3e3e3;
}

.notification-icon-button:focus, .notification-button:focus, .sound-player StButton:focus {
  color: #323232;
  background-color: #e3e3e3;
  box-shadow: inset 0 0 1px 1px rgba(50, 50, 50, 0.4);
}

.notification-icon-button:hover, .notification-button:hover, .sound-player StButton:hover {
  color: #323232;
  background-color: #eaeaea;
}

.notification-icon-button:active, .notification-button:active, .sound-player StButton:active {
  color: #323232;
  background-color: #d1d1d1;
}

.notification-icon-button:insensitive, .notification-button:insensitive, .sound-player StButton:insensitive {
  color: rgba(50, 50, 50, 0.5);
  background-color: #dbdbdb;
}

.audio-device-selection-dialog .audio-selection-box .audio-selection-device, .polkit-dialog-user-combo, .sound-player StButton:small {
  color: #323232;
  background-color: #f7f7f7;
}

.audio-device-selection-dialog .audio-selection-box .audio-selection-device:focus, .polkit-dialog-user-combo:focus, .sound-player StButton:focus:small {
  color: #323232;
  background-color: #f7f7f7;
  box-shadow: inset 0 0 1px 1px rgba(50, 50, 50, 0.4);
}

.audio-device-selection-dialog .audio-selection-box .audio-selection-device:hover, .polkit-dialog-user-combo:hover, .sound-player StButton:hover:small {
  color: #323232;
  background-color: #eaeaea;
}

.audio-device-selection-dialog .audio-selection-box .audio-selection-device:insensitive, .polkit-dialog-user-combo:insensitive, .sound-player StButton:insensitive:small {
  color: rgba(50, 50, 50, 0.5);
  background-color: #f7f7f7;
}

.audio-device-selection-dialog .audio-selection-box .audio-selection-device:selected, .polkit-dialog-user-combo:selected, .sound-player StButton:selected:small, .audio-device-selection-dialog .audio-selection-box .audio-selection-device:active, .polkit-dialog-user-combo:active, .sound-player StButton:active:small {
  color: #323232;
  background-color: #d1d1d1;
}

.audio-device-selection-dialog .audio-selection-box .audio-selection-device:checked, .polkit-dialog-user-combo:checked, .sound-player StButton:checked:small {
  color: #323232;
  background-color: #d1d1d1;
}

#menu-search-entry, #appmenu-search-entry, .expo-workspaces-name-entry, .prompt-dialog-password-entry, .run-dialog-entry {
  background-color: #e3e3e3;
  color: #323232;
}

#menu-search-entry:focus, #appmenu-search-entry:focus, .expo-workspaces-name-entry:focus, .prompt-dialog-password-entry:focus, .run-dialog-entry:focus {
  background-color: #e3e3e3;
  color: #323232;
  border-color: #97bb72;
}

#menu-search-entry:insensitive, #appmenu-search-entry:insensitive, .expo-workspaces-name-entry:insensitive, .prompt-dialog-password-entry:insensitive, .run-dialog-entry:insensitive {
  background-color: #dbdbdb;
  color: rgba(50, 50, 50, 0.5);
}

#menu-search-entry StLabel.hint-text, #appmenu-search-entry StLabel.hint-text, .expo-workspaces-name-entry StLabel.hint-text, .prompt-dialog-password-entry StLabel.hint-text, .run-dialog-entry StLabel.hint-text {
  color: rgba(50, 50, 50, 0.3);
}

#menu-search-entry .capslock-warning, #appmenu-search-entry .capslock-warning, .expo-workspaces-name-entry .capslock-warning, .prompt-dialog-password-entry .capslock-warning, .run-dialog-entry .capslock-warning {
  icon-size: 1.091em;
}

#menu-search-entry StIcon.peek-password, #appmenu-search-entry StIcon.peek-password, .expo-workspaces-name-entry StIcon.peek-password, .prompt-dialog-password-entry StIcon.peek-password, .run-dialog-entry StIcon.peek-password {
  icon-size: 16px;
  color: #323232;
}

.dialog .dialog-button, .dialog .dialog-button:destructive-action, .dialog .dialog-button:default {
  font-weight: bold;
  padding: 12px;
  border-radius: 1.5px;
  color: #323232;
  background-color: #e3e3e3;
}

.dialog .dialog-button:focus {
  color: #323232;
  background-color: #e3e3e3;
  box-shadow: inset 0 0 1px 1px rgba(50, 50, 50, 0.4);
}

.dialog .dialog-button:hover {
  color: #323232;
  background-color: #eaeaea;
}

.dialog .dialog-button:active {
  color: #323232;
  background-color: #d1d1d1;
}

.dialog .dialog-button:checked {
  color: #323232;
  background-color: #d1d1d1;
}

.dialog .dialog-button:insensitive {
  color: rgba(50, 50, 50, 0.5);
  background-color: #dbdbdb;
}

.dialog .dialog-button:default {
  color: #323232;
  background-color: #97bb72;
}

.dialog .dialog-button:hover:default {
  color: #323232;
  background-color: #b0cc94;
}

.dialog .dialog-button:active:default {
  color: #323232;
  background-color: #8ab361;
}

.dialog .dialog-button:checked:default {
  color: #323232;
  background-color: #8ab361;
}

.dialog .dialog-button:insensitive:default {
  border-color: #d1d1d1;
  color: rgba(50, 50, 50, 0.5);
  background-color: #dbdbdb;
}

.dialog .dialog-button:destructive-action {
  color: #323232;
  background-color: #e55c5c;
}

.dialog .dialog-button:hover:destructive-action {
  color: #323232;
  background-color: #ec8888;
}

.dialog .dialog-button:active:destructive-action {
  color: #323232;
  background-color: #e14646;
}

.dialog .dialog-button:checked:destructive-action {
  color: #323232;
  background-color: #e14646;
}

.dialog .dialog-button:insensitive:destructive-action {
  border-color: #d1d1d1;
  color: rgba(50, 50, 50, 0.5);
  background-color: #dbdbdb;
}

.popup-combobox-item, .popup-sub-menu .popup-menu-item, .popup-menu-item {
  font-weight: normal;
  spacing: 6px;
  transition-duration: 100ms;
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: 1px;
}

/* General Typography */
.overview-empty-placeholder {
  font-weight: 300;
  font-size: 2.182em;
}

.message-dialog-content .message-dialog-title, .dialog .confirm-dialog-title {
  font-weight: 800;
  font-size: 1.364em;
}

.calendar-events-no-events-label, .calendar-today-date-label {
  font-weight: 700;
  font-size: 1.364em;
}

.workspace-switch-osd, .media-keys-osd, .message-dialog-content .message-dialog-title.lightweight, .calendar-events-date-label, .calendar-today-day-label {
  font-weight: 700;
  font-size: 1.182em;
}

.menu-selected-app-title, .popup-device-menu-item, .polkit-dialog-user-combo, .dialog-list .dialog-list-title, .calendar-event-time-future, .calendar-event-time-present:all-day, .calendar-event-time-present, .calendar-event-time-past, .calendar-month-label, .device-box .device-labels .primary-label {
  font-weight: 700;
  font-size: 1em;
}

.appmenu-application-button-description, .prompt-dialog-error-label, .prompt-dialog-info-label, .prompt-dialog-null-label, .run-dialog-description, .message-dialog-content .message-dialog-caption, .dialog-list .dialog-list-box .dialog-list-item .dialog-list-item-description, .calendar-event-countdown, .caps-lock-warning-label {
  font-weight: 400;
  font-size: 0.818em;
}

.popup-slider-menu-item, .slider {
  height: 1em;
  min-width: 15em;
  -slider-height: 0.3em;
  -slider-background-color: #e3e3e3;
  -slider-active-background-color: #323232;
  -slider-border-color: transparent;
  -slider-active-border-color: transparent;
  -slider-border-width: 1px;
  -slider-handle-radius: 0.5em;
}

.resize-popup, .workspace-switch-osd, .info-osd, .media-keys-osd, #Tooltip, #LookingGlassDialog {
  color: #323232;
  background-color: rgba(247, 247, 247, 0.99);
  border: 1px solid rgba(209, 209, 209, 0.99);
  border-radius: 1px;
  text-align: center;
  padding: 24px;
}

#altTabPopup {
  padding: 8px;
  spacing: 16px;
}

.switcher-list {
  background-color: #222222;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  padding: 18px;
}

.switcher-list-item-container {
  spacing: 12px;
}

.switcher-list .item-box {
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 1px;
  background-color: transparent;
}

.switcher-list .item-box:outlined {
  border-color: red;
}

.switcher-list .item-box:selected {
  border-color: #d1d1d1;
  background-color: #e3e3e3;
}

.switcher-list .thumbnail-box {
  padding: 0;
  spacing: 4px;
}

.switcher-list .thumbnail {
  width: 256px;
}

.switcher-preview-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.switcher-arrow {
  background-color: transparent;
  border-color: transparent;
  color: #323232;
}

.thumbnail-scroll-gradient-left {
  background-gradient-direction: horizontal;
  background-gradient-start: #222222;
  background-gradient-end: rgba(34, 34, 34, 0);
  border-radius: 2px;
  border-radius-topright: 0px;
  border-radius-bottomright: 0px;
  width: 60px;
}

.thumbnail-scroll-gradient-right {
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(34, 34, 34, 0);
  background-gradient-end: #222222;
  border-radius: 2px;
  border-radius-topleft: 0px;
  border-radius-bottomleft: 0px;
  width: 60px;
}

.applet-box {
  padding: 0 6px;
  spacing: 6px;
  text-align: center;
}

.applet-box.vertical {
  padding: 6px 0;
}

.applet-box:hover {
  background-color: #eaeaea;
}

.applet-box:highlight {
  background-color: rgba(229, 92, 92, 0.5);
}

.applet-label {
  font-weight: bold;
}

.applet-separator {
  padding: 1px 4px;
}

.applet-separator.vertical {
  padding: 4px 1px;
}

.applet-separator-line {
  width: 1px;
  background: rgba(50, 50, 50, 0.2);
}

.applet-separator-line-vertical {
  height: 1px;
  background: rgba(50, 50, 50, 0.2);
}

.applet-cornerbar {
  width: 8px;
  background-color: #eaeaea;
  border: 1px solid #d1d1d1;
}

.applet-cornerbar.vertical {
  height: 8px;
}

.applet-cornerbar-box {
  background: none;
}

.applet-cornerbar-box:hover > .applet-cornerbar {
  background-color: #d1d1d1;
}

.notification-applet-padding {
  padding: 4px 0 4px 4px;
}

.panel-launchers {
  spacing: 2px;
}

.panel-launchers .launcher {
  padding: 0 2px;
}

.panel-launchers .launcher:hover {
  background-color: #eaeaea;
}

.panel-launchers.vertical {
  padding: 2px 0;
}

.panel-launchers.vertical .launcher {
  padding: 2px 0;
}

.device-box .device-icon {
  icon-size: 1.637em;
  color: #323232;
}

.device-box .device-labels {
  margin-left: 8px;
  spacing: 4px;
}

.device-box .device-labels .primary-label {
  color: #323232;
}

.device-box .device-labels .status-label {
  color: #777777;
}

.sound-player > StBoxLayout:first-child {
  spacing: 4px;
  padding: 0 6px;
}

.sound-player StButton {
  width: 18px;
  height: 18px;
  padding: 6px;
}

.sound-player StButton StIcon {
  icon-size: 1em;
}

.sound-player StButton:small {
  width: 16px;
  height: 16px;
}

.sound-player StButton:small StIcon {
  icon-size: 1.2 em;
}

.sound-player-generic-coverart {
  background-color: rgba(0, 0, 0, 0.2);
}

.sound-player-overlay {
  width: 290px;
  padding: 12px;
  spacing: 4px;
  background-color: rgba(247, 247, 247, 0.9);
}

.sound-player-overlay StBoxLayout {
  padding-top: 2px;
}

.sound-player-overlay > StBoxLayout {
  spacing: 6px;
}

.sound-player-overlay StBin > StBoxLayout {
  spacing: 6px;
}

.sound-player .slider {
  height: 6px;
  -slider-height: 6px;
  -slider-background-color: #f2f2f2;
  -slider-active-background-color: #323232;
  -slider-border-color: transparent;
  -slider-active-border-color: transparent;
  -slider-border-width: 0;
  -slider-handle-radius: 0;
}

.spacer-box {
  border: 1px solid transparent;
}

.spacer-box:highlight {
  background-color: #fc4138;
}

.spacer-box.edit-mode {
  border: 1px symbolic;
}

.systray {
  padding: 0;
}

.panel-top .workspace-switcher,
.panel-bottom .workspace-switcher {
  padding: 0 4px;
}

.workspace-button {
  border: 1px solid #d1d1d1;
  width: 2em;
  color: rgba(50, 50, 50, 0.55);
  background-color: rgba(50, 50, 50, 0.05);
}

.workspace-button.vertical {
  height: 2em;
}

.workspace-button:outlined {
  background-color: #e3e3e3;
  color: #323232;
}

.workspace-button:outlined:hover {
  background-color: #eaeaea;
}

.workspace-button:hover {
  background-color: #e3e3e3;
}

.workspace-button:shaded {
  background-color: #eaeaea;
}

.workspace-graph {
  padding: 4px;
  spacing: 4px;
}

.workspace-graph .workspace {
  border: 1px solid rgba(50, 50, 50, 0.2);
  background-color: #151515;
}

.workspace-graph .workspace:active {
  border-color: rgba(50, 50, 50, 0.5);
}

.workspace-graph .workspace:active .windows {
  -active-window-background: rgba(255, 255, 255, 0.3);
  -active-window-border: rgba(255, 255, 255, 0.35);
  -inactive-window-background: rgba(255, 255, 255, 0.1);
  -inactive-window-border: rgba(255, 255, 255, 0.15);
}

.workspace-graph .workspace .windows {
  -active-window-background: rgba(255, 255, 255, 0.3);
  -active-window-border: rgba(255, 255, 255, 0.35);
  -inactive-window-background: rgba(255, 255, 255, 0.1);
  -inactive-window-border: rgba(255, 255, 255, 0.15);
}

.system-status-icon {
  icon-size: 1.091em;
}

.flashspot {
  background-color: white;
}

.caps-lock-warning-label {
  text-align: center;
  padding-bottom: 8px;
  color: #f27835;
}

.cinnamon-link {
  color: #7ea951;
}

.cinnamon-link:hover {
  color: #97bb72;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.4);
}

#LookingGlassDialog {
  spacing: 4px;
}

.magnifier-zoom-region {
  border: 2px solid #fc4138;
}

.magnifier-zoom-region.full-screen {
  border-width: 0;
}

.pie-timer {
  width: 30px;
  height: 30px;
  -pie-border-width: 1px;
  -pie-border-color: rgba(200, 200, 200, 0.8);
  -pie-background-color: rgba(140, 140, 140, 0.6);
}

.ripple-pointer-location {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #b0cc94;
  box-shadow: 0 0 2px 2px #a0a0a0;
}

.ripple-box {
  width: 104px;
  height: 104px;
  background-image: url("corner-ripple.png");
}

.ripple-box:rtl {
  background-image: url("corner-ripple.png");
}

StScrollView.vfade {
  -st-vfade-offset: 68px;
}

StScrollView StScrollBar {
  min-height: 8px;
  min-width: 8px;
}

StScrollBar StBin#trough {
  background-color: rgba(255, 255, 255, 0.1);
  border_radius: 1px;
}

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
  background-color: #bcbcbc;
  border-radius: 1px;
}

StScrollBar StButton#vhandle:hover,
StScrollBar StButton#hhandle:hover {
  background-color: #a8a8a8;
}

.separator {
  -gradient-height: 1px;
  -gradient-start: #d1d1d1;
  -gradient-end: #d1d1d1;
  -margin-horizontal: 0;
  height: 1px;
}

.tile-preview {
  background-color: rgba(176, 204, 148, 0.2);
  border: 1px solid rgba(176, 204, 148, 0.7);
}

#Tooltip {
  padding: 12px;
  margin: 4px;
}

.user-icon {
  background-size: contain;
  border-radius: 99px;
  color: #323232;
  border-color: transparent;
}

.user-icon StIcon {
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 99px;
}

.user-icon.user-avatar {
  border: transparent;
  border-radius: 99px;
}

.user-icon StIcon.highlighted {
  border: 1px solid #323232;
  border-radius: 99px;
}

.user-widget.horizontal {
  spacing: 6px;
}

.user-widget.vertical {
  spacing: 6px;
}

.user-widget.vertical .user-widget-label {
  font-weight: 700;
  font-size: 1.182em;
  color: #323232;
  text-align: center;
}

.calendar {
  margin-top: 20px;
  spacing-rows: 2px;
  spacing-columns: 2px;
}

.calendar-main-box {
  margin: 8px;
}

.calendar-events-main-box {
  height: 300px;
  margin-right: 16px;
  min-width: 350px;
  border-right-width: 1px;
  border-color: #d1d1d1;
}

.calendar-today-home-button, .calendar-today-home-button-enabled {
  margin-left: 12px;
  padding: 8px 12px;
  border-radius: 1px;
}

.calendar-today-home-button:hover, .calendar-today-home-button-enabled:hover {
  background-color: #eaeaea;
}

.calendar-today-day-label {
  text-align: center;
}

.calendar-change-month-back, .calendar-change-month-forward:rtl {
  width: 16px;
  height: 16px;
  color: #323232;
  background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-back:hover, .calendar-change-month-forward:rtl:hover {
  background-image: url("calendar-arrow-left-hover.svg");
}

.calendar-change-month-forward, .calendar-change-month-back:rtl {
  width: 16px;
  height: 16px;
  color: #323232;
  background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-forward:hover, .calendar-change-month-back:rtl:hover {
  background-image: url("calendar-arrow-right-hover.svg");
}

.calendar-day-event-dot-box {
  margin-top: 1.7em;
  max-rows: 1;
}

.calendar-day-event-dot {
  margin: 1px;
  border-radius: 2px;
  width: 4px;
  height: 4px;
}

.calendar-day-base {
  text-align: center;
  width: 2.4em;
  height: 2.4em;
  border-radius: 9999px;
  color: rgba(50, 50, 50, 0.55);
}

.calendar-day-base:hover {
  background-color: #eaeaea;
}

.calendar-day-heading {
  color: #323232;
  margin-top: 12px;
  height: 1.6em;
}

.calendar-work-day {
  color: #323232;
}

.calendar-nonwork-day {
  color: #323232;
}

.calendar-today {
  box-shadow: inset 0 0 3px #97bb72;
  background-color: #d1d1d1;
}

.calendar-today:hover {
  background-color: #eaeaea;
}

.calendar-other-month-day {
  color: rgba(50, 50, 50, 0.55);
}

.calendar-not-today:selected {
  background-color: #e3e3e3;
}

.calendar-events-date-label {
  text-align: center;
}

.calendar-events-no-events-button {
  margin: 6px 0;
  padding: 6px;
  border-radius: 1px;
  color: #777777;
}

.calendar-events-no-events-button:hover {
  color: #323232;
}

.calendar-events-no-events-icon {
  color: rgba(50, 50, 50, 0.4);
  icon-size: 128px;
}

.calendar-events-no-events-label {
  text-align: center;
  margin-top: 16px;
}

.calendar-events-scrollbox {
  margin-top: 8px;
}

.calendar-events-main-box .separator {
  -margin-horizontal: 1em;
  -gradient-height: 1px;
  -gradient-start: transparent;
  -gradient-end: transparent;
}

.calendar-event-button {
  margin: 3px 0;
  border-radius: 1px;
  border: 1px solid transparent;
}

.calendar-event-button:hover {
  background-color: white;
  border-color: #d1d1d1;
}

.calendar-event-color-strip {
  width: 1px;
}

.calendar-event-row-content {
  margin: 7px;
}

.calendar-event-time-past {
  color: rgba(50, 50, 50, 0.55);
}

.calendar-event-time-present {
  color: #323232;
}

.calendar-event-time-present:all-day {
  color: #b0cc94;
}

.calendar-event-countdown {
  color: #777777;
}

.calendar-event-countdown:soon {
  color: #f27835;
}

.calendar-event-countdown:imminent {
  color: #fc4138;
}

.calendar-event-countdown:current {
  color: #3498db;
}

.calendar-event-time-future {
  color: #323232;
}

.calendar-event-summary {
  color: #777777;
}

.desklet:highlight {
  border: 2px solid #b0cc94;
  border-radius: 1px;
}

.desklet-with-borders {
  border: 1px solid #d1d1d1;
  border-radius: 1px;
  background-color: rgba(247, 247, 247, 0.8);
}

.desklet-with-borders-and-header {
  border: 1px solid #d1d1d1;
  border-radius: 0 0 1px 1px;
  border-top-width: 0;
  background-color: rgba(247, 247, 247, 0.8);
  padding: 12px;
}

.desklet-header {
  border: 1px solid #d1d1d1;
  border-radius: 1px 1px 0 0;
  background-color: rgba(247, 247, 247, 0.8);
  padding: 6px;
}

.desklet-drag-placeholder {
  border: 1px solid red;
}

.photoframe-box {
  border: 1px solid #d1d1d1;
  border-radius: 1px;
  background-color: rgba(247, 247, 247, 0.8);
  padding: 6px;
}

.dialog {
  background-color: #f7f7f7;
  color: #323232;
  border-radius: 1px;
  border: 1px solid #d1d1d1;
  padding: 18px;
}

.dialog .dialog-content-box {
  margin-top: 8px;
  margin-bottom: 16px;
  spacing: 32px;
  max-width: 28em;
}

.dialog .confirm-dialog-title {
  text-align: center;
}

.dialog-list {
  spacing: 18px;
}

.dialog-list .dialog-list-title {
  text-align: center;
}

.dialog-list .dialog-list-scrollview {
  max-height: 200px;
}

.dialog-list .dialog-list-box {
  spacing: 1em;
}

.dialog-list .dialog-list-box .dialog-list-item {
  spacing: 1em;
}

.dialog-list .dialog-list-box .dialog-list-item .dialog-list-item-title {
  font-weight: bold;
}

.dialog-list .dialog-list-box .dialog-list-item .dialog-list-item-description {
  color: #252525;
}

.end-session-dialog {
  min-width: 40em;
}

.end-session-dialog .dialog-content-box {
  spacing: 0;
}

.end-session-dialog .dialog-list {
  spacing: 0;
}

.end-session-dialog .dialog-list .dialog-list-title {
  color: #f27835;
  background-color: tranparentize(#f27835, 0.9);
  padding: 9px;
  border-radius: 1px;
  margin: 4px 0;
}

.message-dialog-content {
  spacing: 18px;
}

.message-dialog-content .message-dialog-title {
  text-align: center;
}

.message-dialog-content .message-dialog-description {
  text-align: center;
}

.message-dialog-content .message-dialog-caption {
  text-align: center;
}

.run-dialog .dialog-content-box {
  margin: 4px;
}

.run-dialog-description {
  text-align: center;
  color: black;
}

.run-dialog-description.error {
  color: #fc4138;
}

.run-dialog-completion-box {
  padding-top: 6px;
  padding-left: 12px;
}

.run-dialog-entry {
  width: 20em;
  height: 1.2em;
}

.prompt-dialog {
  width: 26em;
}

.prompt-dialog .dialog-content-box {
  spacing: 16px;
  margin-bottom: 12px;
}

.prompt-dialog-password-entry {
  width: 20em;
}

.prompt-dialog-password-layout {
  spacing: 8px;
}

.prompt-dialog-error-label, .prompt-dialog-info-label, .prompt-dialog-null-label {
  text-align: center;
}

.prompt-dialog-error-label {
  color: #fc4138;
}

.polkit-dialog-user-layout {
  text-align: center;
  spacing: 2px;
}

.polkit-dialog-user-combo {
  border-radius: 1px;
  padding: 6px 36px;
}

.polkit-dialog-user-combo:insensitive {
  color: #323232;
}

.audio-device-selection-dialog {
  min-width: 24em;
}

.audio-device-selection-dialog .audio-selection-box {
  spacing: 12px;
}

.audio-device-selection-dialog .audio-selection-box .audio-selection-device {
  border-radius: 1px;
}

.audio-device-selection-dialog .audio-selection-box .audio-selection-device .audio-selection-device-box {
  padding: 12px;
  spacing: 12px;
}

.audio-device-selection-dialog .audio-selection-box .audio-selection-device .audio-selection-device-icon {
  icon-size: 64px;
}

.workspace-thumbnails {
  spacing: 26px;
}

.workspace-thumbnails-background {
  padding: 8px;
}

.workspace-overview-background-shade {
  background-color: rgba(0, 0, 0, 0.2);
}

.workspace-add-button {
  background-image: url("add-workspace.svg");
  height: 200px;
  width: 35px;
  transition-duration: 150;
}

.workspace-add-button:hover {
  background-image: url("add-workspace-hover.svg");
  transition-duration: 150;
}

.workspace-close-button {
  background-image: url("close.svg");
  height: 26px;
  width: 26px;
  -cinnamon-close-overlap: 13px;
}

.expo-background {
  background-color: #f7f7f7;
}

.expo-workspace-thumbnail-frame {
  border: 1px solid #d1d1d1;
}

.expo-workspace-thumbnail-frame#active {
  border-color: #b0cc94;
  border-width: 2px;
}

.expo-workspaces-name-entry {
  height: 1.5em;
}

.window-close-area {
  background-image: url("trash-icon.svg");
  height: 120px;
  width: 400px;
}

.window-close {
  background-image: url("close.svg");
  height: 26px;
  width: 26px;
  -cinnamon-close-overlap: 13px;
}

.window-border {
  border: 3px solid #97bb72;
  border-radius: 1px;
}

.window-caption {
  min-height: 22px;
  border-radius: 1px;
  padding: 6px 9px;
  spacing: 4px;
  border: 1px solid #d1d1d1;
  background-color: #e3e3e3;
  -cinnamon-caption-spacing: 6px;
}

.window-caption:focus {
  background-color: #d1d1d1;
}

#overview {
  spacing: 12px;
}

.candidate-popup-boxpointer {
  -arrow-border-radius: 5px;
  -arrow-background-color: #f7f7f7;
  -arrow-border-width: 1px;
  -arrow-border-color: #d1d1d1;
  -arrow-base: 24px;
  -arrow-rise: 12px;
  -arrow-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.candidate-popup-content {
  padding: 0.5em;
  spacing: 0.3em;
}

.candidate-index {
  padding: 0 0.5em 0 0;
  color: #191919;
}

.candidate-box {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 1px;
  color: #323232;
}

.candidate-box:selected, .candidate-box:hover {
  background-color: #eaeaea;
}

.candidate-page-button-box {
  height: 2em;
}

.vertical .candidate-page-button-box {
  padding-top: 0.5em;
}

.horizontal .candidate-page-button-box {
  padding-left: 0.5em;
}

.candidate-page-button {
  padding: 4px;
}

.candidate-page-button-previous {
  border-radius: 1px 0px 0px 1px;
  border-right-width: 0;
}

.candidate-page-button-next {
  border-radius: 0px 1px 1px 0px;
}

.candidate-page-button-icon {
  icon-size: 1em;
}

/* On-screen Keyboard */
#virtual-keyboard {
  background-color: #222222;
}

.vkeyboard-key-container {
  padding: 4px;
  spacing: 4px;
}

.vkeyboard-key {
  color: #323232;
  background-color: #e3e3e3;
  font-size: 1.364em;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background-color: #eaeaea;
}

.vkeyboard-key:focus {
  color: #323232;
  background-color: #e3e3e3;
  box-shadow: inset 0 0 1px 1px rgba(50, 50, 50, 0.4);
}

.vkeyboard-key:hover, .vkeyboard-key:checked {
  color: #323232;
  background-color: #eaeaea;
}

.vkeyboard-key:active {
  color: #323232;
  background-color: #d1d1d1;
}

.vkeyboard-key.shift-key-lowercase, .vkeyboard-key.escape-key, .vkeyboard-key.hide-key, .vkeyboard-key.non-alpha-key {
  background-color: #e3e3e3;
}

.vkeyboard-key.shift-key-lowercase:focus, .vkeyboard-key.escape-key:focus, .vkeyboard-key.hide-key:focus, .vkeyboard-key.non-alpha-key:focus {
  color: #323232;
  background-color: #e3e3e3;
  box-shadow: inset 0 0 1px 1px rgba(50, 50, 50, 0.4);
}

.vkeyboard-key.shift-key-lowercase:hover, .vkeyboard-key.shift-key-lowercase:checked, .vkeyboard-key.escape-key:hover, .vkeyboard-key.escape-key:checked, .vkeyboard-key.hide-key:hover, .vkeyboard-key.hide-key:checked, .vkeyboard-key.non-alpha-key:hover, .vkeyboard-key.non-alpha-key:checked {
  color: #323232;
  background-color: #eaeaea;
}

.vkeyboard-key.shift-key-lowercase:active, .vkeyboard-key.escape-key:active, .vkeyboard-key.hide-key:active, .vkeyboard-key.non-alpha-key:active {
  color: #323232;
  background-color: #d1d1d1;
}

.vkeyboard-key.shift-key-uppercase {
  background-color: #d1d1d1;
}

.vkeyboard-key.enter-key {
  background-color: #97bb72;
}

.vkeyboard-key StIcon {
  icon-size: 1.125em;
}

.vkeyboard-subkeys {
  color: #323232;
  -arrow-border-radius: 1px;
  -arrow-background-color: #f7f7f7;
  -arrow-border-width: 1px;
  -arrow-border-color: white;
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 6px;
}

.word-suggestions {
  font-size: 1.227em;
  spacing: 20px;
  min-height: 20pt;
}

.menu {
  min-width: 15em;
  color: #323232;
  padding: 6px;
}

.popup-menu-content {
  padding: 6px;
  background-color: #f7f7f7;
  border-radius: 2px;
  border: 1px solid #d1d1d1;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.popup-menu-item:active {
  background-color: #e3e3e3;
}

.popup-menu-item:insensitive {
  color: rgba(50, 50, 50, 0.55);
  background: none;
}

.popup-menu-arrow,
.popup-menu-icon {
  icon-size: 1.091em;
}

.popup-sub-menu {
  border-radius: 2px;
  margin: 0 4px;
  margin-bottom: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.popup-sub-menu .popup-menu-item {
  border-radius: 0;
  background-color: #ffffff;
  margin: 0;
  padding: 8px 0 8px 12px;
}

.popup-sub-menu .popup-menu-item:active {
  background-color: #e6e6e6;
}

.popup-sub-menu .popup-menu-item:first-child {
  border-radius: 1px 1px 0 0;
}

.popup-sub-menu .popup-menu-item:last-child {
  border-radius: 0 0 1px 1px;
}

.popup-sub-menu .popup-menu-item:only-child, .popup-sub-menu .popup-menu-item:first-child:last-child {
  border-radius: 1px;
}

.popup-sub-menu StScrollBar {
  padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough,
.popup-sub-menu StScrollBar StBin#vhandle {
  border-width: 0;
}

.popup-separator-menu-item {
  -gradient-height: 1px;
  -gradient-start: #d1d1d1;
  -gradient-end: #d1d1d1;
  -margin-horizontal: 0;
  height: 1px;
}

.popup-combo-menu {
  padding: 6px;
  background-color: #f7f7f7;
  border-radius: 1.25px;
  border: 1px solid #d1d1d1;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.popup-combobox-item {
  padding: 0 12px;
}

.popup-alternating-menu-item:alternate {
  font-weight: normal;
}

.popup-device-menu-item {
  spacing: 0.5em;
  color: #323232;
}

.popup-device-menu-item:insensitive {
  color: #323232;
}

.popup-device-menu-item .popup-inactive-menu-item {
  font-weight: normal;
  color: #323232;
}

.popup-subtitle-menu-item {
  font-weight: normal;
}

.nm-menu-item-icons {
  spacing: 0.5em;
}

.wireless-active:insensitive {
  color: red;
}

#notification {
  width: 34em;
  border-radius: 1px;
  border: 1px solid #d1d1d1;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
  background-color: #f7f7f7;
  padding: 12px;
  margin-from-right-edge-of-screen: 20px;
  spacing-rows: 10px;
  spacing-columns: 10px;
}

#notification.multi-line-notification {
  padding-bottom: 12px;
  color: #323232;
}

#notification-body {
  spacing: 6px;
}

#notification-actions {
  spacing: 12px;
}

.notification {
  /* We use row-span = 2 for the image cell, which prevents its height preferences to be
    taken into account during allocation, so its height ends up being limited by the height
    of the content in the other rows. To avoid showing a stretched image, we set the minimum
    height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
}

.notification-with-image {
  min-height: 159px;
}

.notification-button {
  padding: 6px 12px;
}

.notification-icon-button {
  padding: 6px;
}

.media-keys-osd {
  margin-bottom: 1em;
  border-radius: 9999px;
  font-weight: bold;
  spacing: 12px;
  padding: 12px 24px;
}

.media-keys-osd > * {
  spacing: 12px;
}

.media-keys-osd StIcon {
  icon-size: 32px;
}

.media-keys-osd StLabel:ltr {
  margin-right: 6px;
}

.media-keys-osd StLabel:rtl {
  margin-left: 6px;
}

.media-keys-osd .level {
  min-width: 160px;
  -barlevel-height: 6px;
  -barlevel-background-color: #ffffff;
  -barlevel-active-background-color: #323232;
  -barlevel-amplify-color: #f27835;
  -barlevel-amplify-separator-width: 3px;
}

.media-keys-osd .level:ltr {
  margin-right: 6px;
}

.media-keys-osd .level:rtl {
  margin-left: 6px;
}

.media-keys-osd .level-bar {
  border-radius: 1px;
  background-color: #323232;
}

.info-osd {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.workspace-switch-osd {
  min-width: 140px;
  margin-bottom: 1em;
  border-radius: 9999px;
  font-weight: bold;
  padding: 12px 36px 0 36px;
}

.workspace-switch-osd-indicator-box {
  spacing: 12px;
}

.workspace-switch-osd-indicator {
  background-color: rgba(50, 50, 50, 0.5);
  padding: 2.6666666667px;
  margin: 13.3333333333px;
  border-radius: 32px;
}

.workspace-switch-osd-indicator:active {
  background-color: #97bb72;
  padding: 5.3333333333px;
  margin: 10.6666666667px;
}

.resize-popup {
  padding: 12px;
}

.panel-top, .panel-bottom, .panel-left, .panel-right {
  font-weight: bold;
  color: #323232;
  background-color: #222222;
}

.panelLeft {
  spacing: 4px;
}

.panelLeft:dnd {
  background-color: rgba(255, 0, 0, 0.2);
}

.panelLeft:ltr {
  padding-right: 4px;
}

.panelLeft:rtl {
  padding-left: 4px;
}

.panelLeft.vertical {
  padding: 0;
}

.panelLeft.vertical:ltr {
  padding-right: 0px;
}

.panelLeft.vertical:rtl {
  padding-left: 0px;
}

.panelRight:dnd {
  background-color: rgba(0, 0, 255, 0.2);
}

.panelRight:ltr {
  padding-left: 4px;
  spacing: 0;
}

.panelRight:rtl {
  padding-right: 4px;
  spacing: 0;
}

.panelRight.vertical {
  padding: 0;
}

.panelRight.vertical:ltr {
  padding-left: 0;
  spacing: 0;
}

.panelRight.vertical:rtl {
  padding-right: 0;
  spacing: 0;
}

.panelCenter {
  spacing: 4px;
}

.panelCenter:dnd {
  background-color: rgba(0, 255, 0, 0.2);
}

.panelCenter.vertical {
  padding-left: 0;
  padding-right: 0;
}

.panel-top {
  box-shadow: inset 0 -1px #d1d1d1;
}

.panel-bottom {
  box-shadow: inset 0 1px #d1d1d1;
}

.panel-left {
  box-shadow: inset -1px 0 #d1d1d1;
}

.panel-right {
  box-shadow: inset 1px 0 #d1d1d1;
}

.panel-dummy {
  background-color: rgba(252, 65, 56, 0.5);
}

.panel-dummy:entered {
  background-color: rgba(252, 65, 56, 0.6);
}

#panel:highlight {
  background-color: #533131;
}

.appmenu-category-button-greyed, .appmenu-category-button-selected, .appmenu-category-button, .appmenu-application-button-selected, .appmenu-application-button, .appmenu-sidebar-button {
  padding: 6px;
  spacing: 4px;
  border-radius: 1px;
}

.appmenu-background .popup-menu-content {
  padding: 0;
}

.appmenu-main-box {
  spacing: 10px;
}

.appmenu-right-box {
  spacing: 5px;
  padding: 10px 10px;
}

.appmenu-categories-applications-box {
  spacing: 15px;
}

.appmenu-categories-applications-box:top {
  padding-top: 5px;
}

.appmenu-applications-box {
  padding-right: 5px;
}

.appmenu-search-box {
  spacing: 10px;
}

.appmenu-sidebar {
  padding: 10px 0px;
  background-color: #ffffff;
  border-radius: 1.25px 0 0 1.25px;
  border-right-width: 1px;
  border-color: #d1d1d1;
}

.appmenu-sidebar .appmenu-system-button {
  background-color: white;
}

.appmenu-sidebar .appmenu-system-button-lock:hover {
  background-color: white;
}

.appmenu-sidebar .appmenu-system-button-logout:hover {
  background-color: white;
}

.appmenu-sidebar .appmenu-system-button-shutdown {
  background-color: #e55c5c;
}

.appmenu-sidebar .appmenu-system-button-shutdown:hover {
  background-color: #e97272;
}

.appmenu-system-box {
  spacing: 10px;
}

.appmenu-sidebar-button {
  padding: 3px 6px 3px 6px;
  margin: 0 10px 0 10px;
}

.appmenu-sidebar-button:hover {
  background-color: #eaeaea;
  border-color: #d1d1d1;
}

.appmenu-system-button {
  padding: 8.4px;
  border: 1px solid #d1d1d1;
  border-radius: 9999px;
  background-color: white;
}

.appmenu-system-button-shutdown {
  background-color: #e55c5c;
}

.appmenu-system-button-lock:hover {
  background-color: white;
}

.appmenu-system-button-logout:hover {
  background-color: white;
}

.appmenu-system-button-shutdown:hover {
  background-color: #e55c5c;
}

.appmenu-application-button-label {
  padding: 0;
}

.appmenu-application-button-description {
  color: #777777;
}

.appmenu-application-button:highlighted {
  font-weight: bold;
}

.appmenu-application-button-selected {
  background-color: #e3e3e3;
}

.appmenu-application-button-selected:highlighted {
  font-weight: bold;
}

.appmenu-category-button-label {
  padding: 0;
}

.appmenu-category-button:hover {
  background-color: #eaeaea;
}

.appmenu-category-button-selected {
  background-color: #e3e3e3;
}

.appmenu-category-button-greyed {
  color: rgba(50, 50, 50, 0.55);
  font-style: italic;
}

.appmenu-category-button-greyed StIcon {
  opacity: 0.5;
}

.appmenu-search-entry-icon {
  icon-size: 1.091em;
}

.toggle-switch {
  height: 26px;
  width: 46px;
  background-size: contain;
  background-image: url("toggle-off.svg");
}

.toggle-switch:checked {
  background-image: url("toggle-on.svg");
}

.check-box CinnamonGenericContainer {
  spacing: 0.8em;
}

.check-box StBin {
  width: 20px;
  height: 20px;
  background-image: url("checkbox-off.svg");
}

.check-box:focus StBin {
  background-image: url("checkbox-off.svg");
}

.check-box:checked StBin {
  background-image: url("checkbox.svg");
}

.check-box:focus:checked StBin {
  background-image: url("checkbox.svg");
}

.check-box-2 StBoxLayout {
  spacing: 0.8em;
}

.check-box-2 StBin {
  width: 20px;
  height: 20px;
  background-image: url("checkbox-off.svg");
}

.check-box-2:focus StBin {
  background-image: url("checkbox-off.svg");
}

.check-box-2:checked StBin {
  background-image: url("checkbox.svg");
}

.check-box-2:focus:checked StBin {
  background-image: url("checkbox.svg");
}

.radiobutton CinnamonGenericContainer {
  spacing: 0.8em;
}

.radiobutton StBin {
  width: 20px;
  height: 20px;
  background-image: url("radio-off.svg");
}

.radiobutton:focus StBin {
  background-image: url("radio-off.svg");
}

.radiobutton:checked StBin {
  background-image: url("radio.svg");
}

.radiobutton:focus:checked StBin {
  background-image: url("radio.svg");
}

.grouped-window-list-item-label {
  width: 15em;
  min-width: 5px;
}

.grouped-window-list-item-box {
  padding: 0 6px;
}

.grouped-window-list-item-box.top, .grouped-window-list-item-box.bottom {
  border-bottom-width: 2px;
}

.grouped-window-list-item-box.right {
  padding-left: 0;
  padding-right: 0;
  border-right-width: 2px;
}

.grouped-window-list-item-box.right StBin {
  padding-right: 0;
}

.grouped-window-list-item-box.left {
  padding-left: 0;
  padding-right: 0;
  border-left-width: 2px;
}

.grouped-window-list-item-box.left StBin {
  padding-left: 1px;
}

.grouped-window-list-item-box:hover {
  background-color: #eaeaea;
}

.grouped-window-list-item-box:focus {
  background-color: #d1d1d1;
}

.grouped-window-list-item-box:active {
  border-color: #97bb72;
}

.grouped-window-list-item-box .progress {
  background-color: rgba(52, 152, 219, 0.8);
}

.grouped-window-list-item-demands-attention {
  background-color: #db5b5b;
}

.grouped-window-list-thumbnail-label {
  padding-left: 4px;
}

.grouped-window-list-thumbnail-alert {
  background: rgba(219, 91, 91, 0.3);
}

.grouped-window-list-thumbnail-menu {
  border: 1px solid #d1d1d1;
  margin: 6px;
  background-color: #f7f7f7;
  border-radius: 1px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.grouped-window-list-thumbnail-menu > StBoxLayout {
  padding: 4px;
}

.grouped-window-list-thumbnail-menu .item-box {
  padding: 10px;
  spacing: 4px;
  border-radius: 0;
}

.grouped-window-list-thumbnail-menu .item-box:first-child {
  border-radius: 1px 0 0 1px;
}

.grouped-window-list-thumbnail-menu .item-box:last-child {
  border-radius: 0 1px 1px 0;
}

.grouped-window-list-thumbnail-menu .item-box:outlined {
  border: 2px solid rgba(50, 50, 50, 0.5);
}

.grouped-window-list-thumbnail-menu .item-box:outlined:first-child {
  border-radius: 1px 0 0 1px;
}

.grouped-window-list-thumbnail-menu .item-box:outlined:last-child {
  border-radius: 0 1px 1px 0;
}

.grouped-window-list-thumbnail-menu .item-box:selected {
  background-color: #e3e3e3;
}

.grouped-window-list-thumbnail-menu .item-box:selected:only-child, .grouped-window-list-thumbnail-menu .item-box:selected:first-child:last-child {
  border-radius: 1px;
}

.grouped-window-list-thumbnail-menu .item-box:selected:first-child {
  border-radius: 1px 0 0 1px;
}

.grouped-window-list-thumbnail-menu .item-box:selected:last-child {
  border-radius: 0 1px 1px 0;
}

.grouped-window-list-thumbnail-menu .thumbnail {
  width: 256px;
}

.grouped-window-list-thumbnail-menu .separator {
  width: 1px;
  background-color: #d1d1d1;
}

.grouped-window-list-button-label {
  padding-left: 4px;
}

.grouped-window-list-number-label {
  font-size: 12px;
}

.grouped-window-list-badge {
  border-radius: 99px;
  background-color: #f7f7f7;
  color: #323232;
}

.grouped-window-list-notifications-badge {
  border-radius: 99px;
  background-color: #97bb72;
  color: #323232;
}

.grouped-window-list-notifications-badge-label {
  font-size: 12px;
}

.window-list-box {
  spacing: 6px;
  padding-left: 6px;
  padding-top: 1px;
}

.window-list-box.vertical {
  spacing: 4px;
  padding: 6px 0;
}

.window-list-box:highlight {
  background-color: rgba(252, 65, 56, 0.5);
}

.window-list-item-box {
  padding: 0 6px;
  color: rgba(50, 50, 50, 0.8);
}

.window-list-item-box.top, .window-list-item-box.bottom {
  border-bottom-width: 2px;
}

.window-list-item-box.top StLabel, .window-list-item-box.bottom StLabel {
  padding-left: 2px;
}

.window-list-item-box.right {
  padding-left: 0;
  padding-right: 0;
  border-right-width: 2px;
}

.window-list-item-box.right StBin {
  padding-right: 0;
  padding-left: 5px;
}

.window-list-item-box.left {
  padding-left: 0;
  padding-right: 0;
  border-left-width: 2px;
}

.window-list-item-box.left StBin {
  padding-left: 0;
  padding-right: 5px;
}

.window-list-item-box:hover {
  background-color: #e3e3e3;
}

.window-list-item-box:focus {
  border-color: #97bb72;
  background-color: #d1d1d1;
}

.window-list-item-box .progress {
  background-color: rgba(52, 152, 219, 0.8);
}

.window-list-item-demands-attention {
  background-color: #db5b5b;
}

.window-list-preview {
  border: 1px solid #d1d1d1;
  background-color: #f7f7f7;
  border-radius: 1px;
  padding: 12px;
  spacing: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.menu-category-button-greyed, .menu-category-button-selected, .menu-category-button, .menu-application-button-selected, .menu-application-button {
  padding: 6px;
  spacing: 4px;
  border-radius: 1px;
}

.menu-favorites-box {
  padding: 9px;
  background-color: #e3e3e3;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}

.menu-favorites-button {
  padding: 9px;
  border-radius: 1px;
}

.menu-favorites-button:hover {
  background-color: #d1d1d1;
}

.menu-categories-box {
  padding: 9px 24px;
}

.menu-applications-box {
  padding: 9px;
}

.menu-applications-inner-box:ltr {
  padding-left: 24px;
}

.menu-applications-inner-box:rtl {
  padding-right: 24px;
}

.menu-application-button-label {
  padding: 0;
}

.menu-application-button:highlighted {
  font-weight: bold;
}

.menu-application-button-selected {
  background-color: #e3e3e3;
}

.menu-application-button-selected:highlighted {
  font-weight: bold;
}

.menu-category-button-label {
  padding: 0;
}

.menu-category-button:hover {
  background-color: #eaeaea;
}

.menu-category-button-selected {
  background-color: #e3e3e3;
}

.menu-category-button-greyed {
  color: rgba(50, 50, 50, 0.55);
  font-style: italic;
}

.menu-category-button-greyed StIcon {
  opacity: 0.5;
}

.menu-selected-app-box {
  padding-right: 24px;
  padding-left: 24px;
  text-align: right;
}

.menu-selected-app-description {
  color: rgba(50, 50, 50, 0.55);
}

.menu-search-box {
  padding: 0 0 6px 9px;
}

.menu-search-entry-icon {
  icon-size: 1.091em;
}

.ripple-box {
  background-image: url("corner-ripple.svg");
}

.ripple-box:rtl {
  background-image: url("corner-ripple.svg");
}

.end-session-dialog .dialog-list .dialog-list-title {
  background-color: rgba(242, 120, 53, 0.1);
}

.system-status-icon {
  icon-size: 1.091em;
}

.menu {
  padding: 0;
}

.menu-favorites-box {
  background-color: #f7f7f7;
}

#menu-search-entry,
#menu-search-entry:focus,
#menu-search-entry:hover {
  background-color: #f7f7f7;
}

.media-keys-osd {
  border-radius: 1px;
}

.workspace-switch-osd {
  border-radius: 1px;
}

.panel-top {
  box-shadow: inset 0 -1px #1a1a1a;
  color: #bfbfbf;
}

.panel-bottom {
  box-shadow: inset 0 1px #1a1a1a;
  color: #bfbfbf;
}

.panel-left {
  box-shadow: inset -1px 0 #1a1a1a;
  color: #bfbfbf;
}

.panel-right {
  box-shadow: inset 1px 0 #1a1a1a;
  color: #bfbfbf;
}

.panel-top .applet-box,
.panel-bottom .applet-box,
.panel-left .applet-box,
.panel-right .applet-box {
  color: #bfbfbf;
}

.panel-top .applet-box:hover,
.panel-bottom .applet-box:hover,
.panel-left .applet-box:hover,
.panel-right .applet-box:hover {
  background-color: #3a3a3a;
}

.panel-top .applet-box:checked, .panel-top .applet-box:checked:hover,
.panel-bottom .applet-box:checked,
.panel-bottom .applet-box:checked:hover,
.panel-left .applet-box:checked,
.panel-left .applet-box:checked:hover,
.panel-right .applet-box:checked,
.panel-right .applet-box:checked:hover {
  background-color: #97bb72;
}

.panel-top .applet-box:checked .applet-icon, .panel-top .applet-box:checked:hover .applet-icon,
.panel-bottom .applet-box:checked .applet-icon,
.panel-bottom .applet-box:checked:hover .applet-icon,
.panel-left .applet-box:checked .applet-icon,
.panel-left .applet-box:checked:hover .applet-icon,
.panel-right .applet-box:checked .applet-icon,
.panel-right .applet-box:checked:hover .applet-icon {
  color: white;
}

.panel-top .applet-box:checked .applet-label, .panel-top .applet-box:checked:hover .applet-label,
.panel-bottom .applet-box:checked .applet-label,
.panel-bottom .applet-box:checked:hover .applet-label,
.panel-left .applet-box:checked .applet-label,
.panel-left .applet-box:checked:hover .applet-label,
.panel-right .applet-box:checked .applet-label,
.panel-right .applet-box:checked:hover .applet-label {
  color: white;
}

.panel-top .applet-box:checked StIcon, .panel-top .applet-box:checked:hover StIcon,
.panel-bottom .applet-box:checked StIcon,
.panel-bottom .applet-box:checked:hover StIcon,
.panel-left .applet-box:checked StIcon,
.panel-left .applet-box:checked:hover StIcon,
.panel-right .applet-box:checked StIcon,
.panel-right .applet-box:checked:hover StIcon {
  color: white;
}

.panel-top .applet-separator-line,
.panel-bottom .applet-separator-line,
.panel-left .applet-separator-line,
.panel-right .applet-separator-line {
  background: rgba(191, 191, 191, 0.2);
}

.panel-top .applet-separator-line-vertical,
.panel-bottom .applet-separator-line-vertical,
.panel-left .applet-separator-line-vertical,
.panel-right .applet-separator-line-vertical {
  background: rgba(191, 191, 191, 0.2);
}

.panel-top .window-list-item-box,
.panel-bottom .window-list-item-box,
.panel-left .window-list-item-box,
.panel-right .window-list-item-box {
  color: rgba(191, 191, 191, 0.8);
}

.panel-top .window-list-item-box:hover,
.panel-bottom .window-list-item-box:hover,
.panel-left .window-list-item-box:hover,
.panel-right .window-list-item-box:hover {
  background-color: #333333;
}

.panel-top .window-list-item-box:focus,
.panel-bottom .window-list-item-box:focus,
.panel-left .window-list-item-box:focus,
.panel-right .window-list-item-box:focus {
  background-color: #4c4c4c;
}

.panel-top .grouped-window-list-item-box,
.panel-bottom .grouped-window-list-item-box,
.panel-left .grouped-window-list-item-box,
.panel-right .grouped-window-list-item-box {
  color: #bfbfbf;
}

.panel-top .grouped-window-list-item-box:hover,
.panel-bottom .grouped-window-list-item-box:hover,
.panel-left .grouped-window-list-item-box:hover,
.panel-right .grouped-window-list-item-box:hover {
  background-color: #3a3a3a;
}

.panel-top .grouped-window-list-item-box:focus,
.panel-bottom .grouped-window-list-item-box:focus,
.panel-left .grouped-window-list-item-box:focus,
.panel-right .grouped-window-list-item-box:focus {
  background-color: #4c4c4c;
}

.panel-top .grouped-window-list-badge,
.panel-bottom .grouped-window-list-badge,
.panel-left .grouped-window-list-badge,
.panel-right .grouped-window-list-badge {
  background-color: #222222;
  color: #bfbfbf;
}

.panel-top .workspace-button,
.panel-bottom .workspace-button,
.panel-left .workspace-button,
.panel-right .workspace-button {
  color: rgba(191, 191, 191, 0.45);
  border-color: #1a1a1a;
  background-color: rgba(191, 191, 191, 0.05);
}

.panel-top .workspace-button:outlined,
.panel-bottom .workspace-button:outlined,
.panel-left .workspace-button:outlined,
.panel-right .workspace-button:outlined {
  background-color: #333333;
  color: #bfbfbf;
}

.panel-top .workspace-button:outlined:hover,
.panel-bottom .workspace-button:outlined:hover,
.panel-left .workspace-button:outlined:hover,
.panel-right .workspace-button:outlined:hover {
  background-color: #3a3a3a;
}

.panel-top .workspace-button:hover,
.panel-bottom .workspace-button:hover,
.panel-left .workspace-button:hover,
.panel-right .workspace-button:hover {
  background-color: #333333;
}

.panel-top .workspace-graph .workspace,
.panel-bottom .workspace-graph .workspace,
.panel-left .workspace-graph .workspace,
.panel-right .workspace-graph .workspace {
  border-color: rgba(191, 191, 191, 0.2);
  background-color: #151515;
}

.panel-top .workspace-graph .workspace:active,
.panel-bottom .workspace-graph .workspace:active,
.panel-left .workspace-graph .workspace:active,
.panel-right .workspace-graph .workspace:active {
  border-color: rgba(191, 191, 191, 0.5);
}

.panel-top .system-status-icon,
.panel-bottom .system-status-icon,
.panel-left .system-status-icon,
.panel-right .system-status-icon {
  color: #bfbfbf;
}

.panel-top .applet-cornerbar,
.panel-bottom .applet-cornerbar,
.panel-left .applet-cornerbar,
.panel-right .applet-cornerbar {
  background-color: #3a3a3a;
  border-color: #1a1a1a;
}

.panel-top .applet-cornerbar-box:hover > .applet-cornerbar,
.panel-bottom .applet-cornerbar-box:hover > .applet-cornerbar,
.panel-left .applet-cornerbar-box:hover > .applet-cornerbar,
.panel-right .applet-cornerbar-box:hover > .applet-cornerbar {
  background-color: #4c4c4c;
}

.panel-top .panel-launchers .launcher:hover,
.panel-bottom .panel-launchers .launcher:hover,
.panel-left .panel-launchers .launcher:hover,
.panel-right .panel-launchers .launcher:hover {
  background-color: #3a3a3a;
}

.panel-top .grouped-window-list-notifications-badge,
.panel-bottom .grouped-window-list-notifications-badge,
.panel-left .grouped-window-list-notifications-badge,
.panel-right .grouped-window-list-notifications-badge {
  color: #bfbfbf;
}

.panel-transparent,
#panel.panel-transparent,
.panel-transparent #panelLeft,
.panel-transparent #panelCenter,
.panel-transparent #panelRight,
#panel.panel-transparent:highlight {
  border-image: none;
  border-color: transparent;
  box-shadow: 0 0 transparent;
  background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
  background: transparent;
}

.panel-transparent-with-shadow,
#panel.panel-transparent-with-shadow,
.panel-transparent-with-shadow #panelLeft,
.panel-transparent-with-shadow #panelCenter,
.panel-transparent-with-shadow #panelRight,
#panel.panel-transparent-with-shadow:highlight {
  border-image: none;
  border-color: transparent;
  box-shadow: 0 0 transparent;
  background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
  background: transparent;
}

.panel-transparent-with-shadow,
.panel-bottom.panel-transparent-with-shadow,
#panel.panel-transparent-with-shadow,
#panel.panel-transparent-with-shadow:highlight {
  background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: rgba(34, 34, 34, 0.4);
}

.panel-transparent-with-shadow.panel-top,
#panel.panel-transparent-with-shadow.panel-top,
#panel.panel-transparent-with-shadow.panel-top:highlight,
.panel-transparent-with-shadow.panel-left,
#panel.panel-transparent-with-shadow.panel-left,
#panel.panel-transparent-with-shadow.panel-left:highlight {
  background-gradient-start: rgba(34, 34, 34, 0.4);
  background-gradient-end: transparent;
}

.panel-transparent-with-shadow.panel-right,
#panel.panel-transparent-with-shadow.panel-right,
#panel.panel-transparent-with-shadow.panel-right:highlight,
.panel-transparent-with-shadow.panel-left,
#panel.panel-transparent-with-shadow.panel-left,
#panel.panel-transparent-with-shadow.panel-left:highlight {
  background-gradient-direction: horizontal;
}

.panel-semi-transparent,
#panel.panel-semi-transparent,
.panel-semi-transparent #panelLeft,
.panel-semi-transparent #panelCenter,
.panel-semi-transparent #panelRight,
#panel.panel-semi-transparent:highlight {
  border-image: none;
  border-color: transparent;
  box-shadow: 0 0 transparent;
  background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
  background: transparent;
}

.panel-semi-transparent,
#panel.panel-semi-transparent,
#panel.panel-semi-transparent:highlight {
  background-gradient-start: rgba(34, 34, 34, 0.4);
  background-gradient-end: rgba(34, 34, 34, 0.4);
  background-color: rgba(34, 34, 34, 0.4);
}

StScrollBar StButton#vhandle:active,
StScrollBar StButton#hhandle:active {
  background-color: #b0cc94;
}

.slider, .popup-slider-menu-item {
  -slider-active-background-color: #b0cc94;
}

.slider {
  -slider-active-background-color: #b0cc94;
}

#Tooltip {
  background-color: rgba(168, 193, 141, 0.95);
  color: white;
  border: none;
  border-radius: 1px;
  padding: 8px;
  margin: 3px;
}
